@model IEnumerable<ASM_AppWeb_Bicycle_Shop.Models.News>
@{
    ViewData["Title"] = "NewsUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<div class="banner_section layout_padding">*@
<div id="main_slider" class="carousel slide here" data-ride="carousel" style="margin-top: -16px;" >
        <div class="carousel-inner" style="width: 100%">
            <div class="carousel-item active">
                <div class="container" style="width: 100%">
                    <img src="~/a/images/background1.png">
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row">
                        <img src="~/a/images/background1.png">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row">
                        <img src="~/a/images/background1.png">
                    </div>
                </div>
            </div>
        </div>
@*        <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>*@
    </div>
@*</div>*@


@*<div class="product_section layout_padding">*@
<div class="container">
    <div class="news_section layout_padding">
        <div class="container">
            <h1 class="news_taital">News</h1>
            <div class="news_section_2 layout_padding">
                <div class="row">

                    @foreach (var i in Model)
                    {
                        <div class="col-sm-4 py-2">
                            <div class="box_main_1">
                                <img src="@Url.Content("~/UploadImg/" + i.EmpFileName)" height="100px" width="100%">
                                <div class="padding_15">
                                    <h2 class="speed_text">@i.NewsTitle</h2>
                                    <div class="post_text">Author : @i.NewsAuthor <span style="float: right;">@i.NewsDate</span></div>

                                    <p class="long_text limitword-1">@i.NewsContent</p>

                                </div>
                            </div>
                        </div>

                    }

                </div>

            </div>
        </div>
    </div>
</div>
@*</div>*@

<style>
    .wrapper {
        padding: 20px;
        max-width: 400px;
        margin: 50px auto;
    }

    .limitword-1 {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
</style>